.header{
    background-color: #20232A !important;
    .navbar{
       
    }
}

.main{
    .container{
        .row{
            display: flex;
            article{
                flex: 0 0 60%;
            }
            .nav-left{
                flex: 0 0 300px;
            }
        }
    }
}